body {
    background-color: #f0f0f0;
}
.sidebar {
    background-color: #7295d0;
    height: 100vh;
    position: fixed;
    width: 200px;
    padding-top: 20px;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}
.sidebar a:hover {
    background-color: #575757;
}
.content {
    margin-left: 220px;
    padding: 20px;
}
.card {
    margin-bottom: 20px;
}
#sendemail {
    color: white;
}

.calendar {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
.calendar table {
    width: 100%;
    border-collapse: collapse;
}
.calendar th, .calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.calendar th {
    background-color: #f2f2f2;
}
.calendar .today {
    background-color: #4CAF50;
    color: white;
}

#employeeList .list-group-item {
    cursor: pointer;
}

#employeeDetails {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
}

#employeeDetails h3 {
    margin-bottom: 20px;
}


.tab-content {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
}

#departmentList, #positionList {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
}
#attendanceForm, #holidayRequestForm, #approvalHistory {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
}

#approvalList .approval-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}
#employeeList .list-group-item {
    cursor: pointer;
}

#salaryDetails {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
}

#salaryDetails h3 {
    margin-bottom: 20px;
}

.joinButton {
    margin:20px;
}