<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사원관리</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
</head>
<body>
<div class="sidebar">
    <div class="text-center mb-4">
        <img src="/css/img/company.png" alt="Logo" class="img-fluid rounded-circle">
    </div>
    <a href="/"><li>메인화면</li></a>
    <a href="/notice"><li>공지사항</li></a>
    <a href="/attendance"><li>근태관리</li></a>
    <a href="/salary"><li>급여관리</li></a>
    <a href="/leave_application"><li>휴가신청</li></a>
    <a href="/employee" ><li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">사원관리</li></a>
    <a href="/department"><li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">부서관리</li></a>
    <a th:href="@{/login}"><li sec:authorize="isAnonymous()">로그인</li></a>
    <a th:href="@{/logout}"><li sec:authorize="isAuthenticated()">로그아웃</li></a>
</div>

<div class="content">
    <h1 class="mb-4">사원 관리</h1>
    <div class="mb-4">
        <form id="searchForm" action="/employee/search" method="get">
            <label for="keyword">사원 검색: </label>
            <input type="text" id="keyword" name="keyword" placeholder="사원 이름, 부서 등으로 검색" class="form-control d-inline-block w-25"/>
            <button type="submit" class="btn btn-primary">검색</button>
        </form>
    </div>
    <div class="row">
        <div class="col-4">
            <table id="employeeList" class="list-group">
                <tr>
                    <th>사번</th>
                    <th>이름</th>
                    <th>입사일</th>
                </tr>
                <tr th:each="dto: ${list}">
                    <td th:text="${dto.employee_id}"></td>
                    <td th:text="${dto.user_name}"></td>
                    <td th:text="${dto.hire_date}"></td>
                </tr>
            </table>
        </div>
        <div class="col-8">
            <div id="employeeDetails">
                <div th:fragment="employeeDetailsFragment">
                    <form id="employeeDetailsForm", name="employeeDetails" th:action="@{/employee}" method="post" th:object="${dto}">
                        <input type="hidden" th:field="${dto.employee_id}" />
                        <table>
                            <tr>
                                <th>사번</th>
                                <td th:text="${dto.employee_id}"></td>
                            </tr>
                            <tr>
                                <th>이름</th>
                                <td><input type="text" th:field="${dto.user_name}" /></td>
                            </tr>
                            <tr>
                                <th>주민등록번호</th>
                                <td><input type="text" th:field="${dto.r_num}" /></td>
                            </tr>
                            <tr>
                                <th>연락처</th>
                                <td><input type="text" th:field="${dto.tel}" /></td>
                            </tr>
                            <tr>
                                <th>주소</th>
                                <td><input type="text" th:field="${dto.address}" /></td>
                            </tr>
                            <tr>
                                <th>이메일</th>
                                <td><input type="text" th:field="${dto.email}" /></td>
                            </tr>
                            <tr>
                                <th>성별</th>
                                <td>
                                    <select th:field="${dto.gender}">
                                        <option value="M" th:selected="${dto.gender == '남성'}">남성</option>
                                        <option value="F" th:selected="${dto.gender == '여성'}">여성</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>부서</th>
                                <td>
                                    <select th:field="${dto.department}">
                                        <option value="10" th:selected="${dto.department == '재정관리팀'}">재정관리팀</option>
                                        <option value="20" th:selected="${dto.department == '인사관리팀'}">인사관리팀</option>
                                        <option value="30" th:selected="${dto.department == '영업팀'}">영업팀</option>
                                        <option value="40" th:selected="${dto.department == '품질보증팀'}">품질보증팀</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>직책</th>
                                <td>
                                    <select th:field="${dto.position}">
                                        <option value="10" th:selected="${dto.position == '회장'}">회장</option>
                                        <option value="20" th:selected="${dto.position == '사장'}">사장</option>
                                        <option value="30" th:selected="${dto.position == '이사'}">이사</option>
                                        <option value="40" th:selected="${dto.position == '부장'}">부장</option>
                                        <option value="50" th:selected="${dto.position == '차장'}">차장</option>
                                        <option value="60" th:selected="${dto.position == '과장'}">과장</option>
                                        <option value="70" th:selected="${dto.position == '대리'}">대리</option>
                                        <option value="80" th:selected="${dto.position == '주임'}">주임</option>
                                        <option value="90" th:selected="${dto.position == '사원'}">사원</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>입사일</th>
                                <td><input type="date" th:field="${dto.hire_date}" /></td>
                            </tr>
                            <tr>
                                <th>퇴사일</th>
                                <td><input type="date" th:field="${dto.resignation_date}" /></td>
                            </tr>
                            <tr>
                                <th>재직여부</th>
                                <td>
                                    <select th:field="${dto.employment}">
                                        <option value="E" th:selected="${dto.employment == '재직'}">재직</option>
                                        <option value="R" th:selected="${dto.employment == '퇴사'}">퇴사</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>관리자 여부</th>
                                <td>
                                    <select th:field="${dto.permit}">
                                        <option value="9" th:selected="${dto.permit == '관리자'}">관리자</option>
                                        <option value="0" th:selected="${dto.permit == '사용자'}">사용자</option>
                                    </select>
                                </td>
                            </tr>
                        </table>

                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary" onclick="upEmployee()">저장</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/css/js/employee.js"></script>
</body>
</html>