<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인화면</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
</head>
<body>
<div class="sidebar">
    <div class="text-center mb-4">
        <img src="https://via.placeholder.com/150" alt="Logo" class="img-fluid rounded-circle">
    </div>
    <a href="/"><li>메인화면</li></a>
    <a href="/notice"><li>공지사항</li></a>
    <a href="/attendance"><li>근태관리</li></a>
    <a href="/salary"><li>급여관리</li></a>
    <a href="/leave_application"><li>휴가신청</li></a>
    <a href="/employee" ><li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">사원관리</li></a>
    <a href="/department"><li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">부서관리</li></a>
    <a th:href="@{/login}"><li sec:authorize="isAnonymous()">로그인</li></a>
    <a th:href="@{/logout}"><li sec:authorize="isAuthenticated()">로그아웃</li></a>
</div>


<div class="content">
    <h1 class="mb-4">메인화면</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">공지사항</h5>
                    <a class="right" href="/notice">>더보기</a>
                    <p class="card-text">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">제목</th>
                            <th scope="col">작성자</th>
                            <th scope="col">작성일</th>
                            <th scope="col">조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dto : ${list}">
                            <td th:text="${dto.post_no}"></td>
                            <td>
                                <a th:text="${dto.title}" th:onclick="|location.href='/view/' + ${dto.post_no}|"></a>
                            </td>
                            <td th:text="${dto.user_id}"></td>
                            <td th:text="${dto.create_date}"></td>
                            <td th:text="${dto.hit_cnt}"></td>
                        </tr>
                        </tbody>
                    </table>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">출근 및 퇴근</h5>
                    <p class="card-text">
                    <div class="button" id="clockIn" onclick="recordTime('clockIn')">
                        <span>출근등록</span>
                    </div>
                    <p id="clockInTime"></p>
                    <div class="button" id="clockOut" onclick="recordTime('clockOut')">
                        <span>퇴근등록</span>
                    </div>
                    <p id="clockOutTime"></p>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">휴가</h5>
                    <button class="btn btn-primary">
                        <a id="vacation" href="leave_application">휴가신청</a>
                    </button>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col">신청자</th>
                            <th scope="col">휴가 시작일</th>
                            <th scope="col">휴가 끝일</th>
                            <th scope="col">부서명</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="list : ${leaveList}">
                            <td th:text="${list.leave_id}"></td>
                            <td th:text="${list.user_name}"></td>
                            <td th:text="${list.start_day}"></td>
                            <td th:text="${list.end_day}"></td>
                            <td>
                                <select id="department" name="department" class="form-control" disabled>
                                    <option value="10" th:selected="${list.department == '10'}">재정관리팀</option>
                                    <option value="20" th:selected="${list.department == '20'}">인사관리팀</option>
                                    <option value="30" th:selected="${list.department == '30'}">영업팀</option>
                                    <option value="40" th:selected="${list.department == '40'}">품질보증팀</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">캘린더</h5>
                    <p class="card-text">활동 및 보상 관련 정보를 여기에 입력하세요.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">결재 내역</h5>
                    <p class="card-text">최근 알림 내용을 여기에 입력하세요.</p>
                </div>
            </div>
        </div>
    </div>-->
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="css/js/index.js"></script>
</body>
</html>