<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
</head>
<body>
<div class="sidebar">
    <div class="text-center mb-4">
        <img src="/css/img/company.png" alt="Logo" class="img-fluid rounded-circle">
    </div>
    <a href="/"><li>메인화면</li></a>
    <a href="/notice"><li>공지사항</li></a>
    <a href="/attendance"><li>근태관리</li></a>
    <a href="/salary"><li>급여관리</li></a>
    <a href="/leave_application"><li>휴가신청</li></a>
    <a href="/employee" ><li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">사원관리</li></a>
    <a href="/department"><li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">부서관리</li></a>
    <a th:href="@{/login}"><li sec:authorize="isAnonymous()">로그인</li></a>
    <a th:href="@{/logout}"><li sec:authorize="isAuthenticated()">로그아웃</li></a>
</div>


<div class="content">
    <h2>회원가입</h2>
    <form name="join" action="join" method="post" id="joinForm">
        <table id="userTable">
            <tr>
                <td>아이디</td>
                <td>
                    <input type="text" name="user_id" id="user_id" placeholder="아이디를 3~8글로 입력">
                    <input type="button" onclick="checkId()" value="중복확인">
                </td>
            </tr>
            <tr>
                <td colspan="2" id="id-area"></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td>
                    <input type="password" name="user_pw" id="user_pw" placeholder="4~20자 사이로 입력">
                </td>
            </tr>
            <tr>
                <td>사번</td>
                <td><input type="text" name="employee_id" id="employee_id"></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type="text" name="user_name" id="user_name"></td>
            </tr>
            <tr>
                <td>주민등록번호</td>
                <td><input type="text" name="r_num" id="r_num"></td>
            </tr>
            <tr>
                <td>전화번호</td>
                <td><input type="text" name="tel" id="tel" maxlength="20"></td>
            </tr>
            <tr>
                <td>주소</td>
                <td><input type="text" name="address" id="address"></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="text" name="email" id="email"></td>
            </tr>
            <tr>
                <td>성별</td>
                <td>
                    <input type="radio" name="gender" id="genderM" value="M" checked>남자
                    <input type="radio" name="gender" id="genderF" value="F">여자
                </td>
            </tr>
            <tr>
                <td class="align-center">부서명</td>
                <td class="align-left">
                    <select id="department" name="department">
                        <option value="" selected>부서선택</option>
                        <option value="10">재정관리팀</option>
                        <option value="20">인사관리팀</option>
                        <option value="30">영업팀</option>
                        <option value="40">품질보증팀</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="align-center">직책</td>
                <td class="align-left">
                    <select id="position" name="position">
                        <option value="" selected>직책선택</option>
                        <option value="10">회장</option>
                        <option value="20">사장</option>
                        <option value="30">이사</option>
                        <option value="40">부장</option>
                        <option value="50">차장</option>
                        <option value="60">과장</option>
                        <option value="70">대리</option>
                        <option value="80">주임</option>
                        <option value="90">사원</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <input type="button" value="회원가입" onclick="checkFormjoin()">
    <input type="reset" value="다시입력" onclick="resetInout()">
    <a href="/"><input type="button" value="홈으로"></a>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="css/js/join.js"></script>
</body>
</html>
